<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input type="text" placeholder="enter name" formControlName="user">
  <br>
  <span style="color:red" *ngIf="user && user.invalid && user.touched">This input filed is not valid</span>
  <br>
  <br>
  <input type="password" placeholder="enter password" formControlName="password">
  <br>
  <span style="color:red" *ngIf="password && password.invalid && password.touched">Password input filed is not valid</span>
  <br>
  <button [disabled]="loginForm.invalid">Login</button>
</form>

<router-outlet></router-outlet>
